services:
  app:
    build:
      context: ./docker/php
    container_name: php-apache
    ports:
      - "8000:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - redis

  composer:
    image: composer:latest
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html

  redis:
    image: redis:latest
    container_name: redis-server
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  redis-data:
